body {
    background: rgb(6, 6, 6) ;
    color:black;
  }


#imagen1
{
  display:none;
}

#imagen2
{
  display:block;
}




@media only screen and (min-width: 768px)
{
  body {
    background: url('zyro-image.png');
    background-repeat: no-repeat;
    background-position-x:center;
  background-position-y:center;
  background-size: cover;
  background-attachment: fixed;
    color:black;
  }


  #imagen1
  {
    display:block;
  }
  #imagen2
  {
    display:none;
  }

}



